.popular {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  overflow: hidden;
  padding-bottom: 50px;
  margin: 0 auto;
}

.popular .container {
  position: relative;
  @media (max-width: 1366px) {
    max-width: 90%;
  }
}


.popular__heading,
.popular__text {
  color: #ffffff;
}

.popular__heading {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 20px;
}

.popular__text {
  opacity: 0.6;
}

.swiper-popular {
  max-width: 94%;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.popular-left {
  left: 0;
}

.popular-right {
  right: 0;
}

.popular__card {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.popular__card-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card__name {
  font-size: 20px;
  font-weight: 300;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.swiper-slide.popular__card img {
  width: 500px;
}

.popular__img-girl {
  box-shadow: 0 0 50px rgba(0, 71, 171, 0.6);
}

.popular__img-bonapart {
  box-shadow: 0 0 50px rgba(255, 0, 51, 0.6);
}

.popular__img-hunters {
  box-shadow: 0 0 50px rgba(120, 219, 226, 0.6);
}
