@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');
@use '../../node_modules/swiper/swiper-bundle.css';

:root {
  --address-color: #666666;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.header__contacts {
  font-style: normal;
  color: var(--address-color);
  text-decoration: none;
}

.slider-image {
  max-width: 80%;
}