@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

:root {
  --address-color: #666666;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main {
  display: grid;
  grid-template-columns: 900px 200px;
  align-items: center;
}

.header__contacts {
  font-style: normal;
  color: var(--address-color);
  text-decoration: none;
}


img {
	max-width: 100%;
	object-fit: cover;
}

.slider-image {
  max-height: 600px;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-main {
  overflow: hidden;
}

.swiper-preview {
  width: 300px;
  height: 540px;
  overflow: hidden;
}

.swiper-preview .swiper-slide {
  width: 300px;
  height: 170px;
}

.swiper-preview .swiper-slide img {
  max-height: 100%;
}