include parts/header.pug
body
  .main-wrapper.container
    header.header
      h1(class="header__heading") Репро дукцио
      p Оффлайн магазин репродукий шедевров мирового искусства
      address.header__contacts Санкт-Петербург, ул. Адмирала Черокова, 18
      .header__links
        a(href="tel:+78129602201" class="header__link") +7 812 960-22-01
        a(href="mailto:shop@reproduct.io" class="header__link") shop@reproduct.io
    .main
      .swiper-main
        .swiper-wrapper
          .swiper-slide.card
            .card__info
              .card__left
                span.card__name Рождение Венеры, 1636
                span.card__author Никола Пуссен
              .card__right
                span.card__prop 97 x 108 см, холст
                span.card__price 2400 &#8381;
            img(srcset="images/main-slider/venus-mob.jpg 768w, images/main-slider/venus.jpg 1440w" sizes="(max-width: 1439px) 768px, 1440px" src="images/main-slider/venus.jpg", alt="Рождение венеры")
          .swiper-slide.card
            .card__info
              .card__left
                span.card__name Шестикрылый серафим, 1857 
                span.card__author Михаил Врубель
              .card__right
                span.card__prop 131 x 108 см, холст
                span.card__price 4100 &#8381;
            img(srcset="images/main-slider/seraphim-mob.jpg 768w, images/main-slider/seraphim.jpg 1440w" sizes="(max-width: 1439px) 768px, 1440px" src="images/main-slider/seraphim.jpg", alt="Шестикрылый серафим")
          .swiper-slide.card
            .card__info
              .card__left
                span.card__name Явление Христа народу, 1857 
                span.card__author Александр Иванов
              .card__right
                span.card__prop 120 x 90 см, холст
                span.card__price 3700 &#8381;
            img(srcset="images/main-slider/christ-mob.jpg 768w, images/main-slider/christ.jpg 1440w" sizes="(max-width: 1439px) 768px, 1440px" src="images/main-slider/christ.jpg", alt="Явление Христа народу")
        i(class="fas fa-caret-left main-left")
        i(class="fas fa-caret-right main-right")
      .swiper-preview
        .swiper-wrapper
          .swiper-slide
            img(src="images/main-slider/venus-mob.jpg", alt="Рождение венеры")
          .swiper-slide
            img(src="images/main-slider/seraphim-mob.jpg", alt="Шестикрылый серафим")
          .swiper-slide
            img(src="images/main-slider/christ-mob.jpg", alt="Явление Христа народу")
  .popular
    .container
      h3.popular__heading Популярное
      span.popular__text Нестареющая классика и бестселлеры
      .swiper-popular
        .swiper-wrapper
          .swiper-slide.popular__card
            img(srcset="images/popular/girl-mob.jpeg 768w, images/popular/girl.jpeg 1440w" sizes="(max-width: 1439px) 768px, 1440px" src="images/popular/girl.jpeg", alt="Девушка с жемчужной сережкой" class="popular__img-girl")
            .popular__card-info
              span.card__name Девушка с жемчужной сережкой, 1655 
              span.card__author Ян Вермеер
              .card__footer
                span.card__prop 44 x 39 см, холст
                span.card__price 900 &#8381;
          .swiper-slide.popular__card
            img(srcset="images/popular/bonapart-mob.jpg 768w, images/popular/bonapart.jpg 1440w" sizes="(max-width: 1439px) 768px, 1440px" src="images/popular/bonapart.jpg", alt="Бонапарт на перевале Сен-Бернар" class="popular__img-bonapart")
            .popular__card-info
              span.card__name Бонапарт на перевале Сен-Бернар, 1801 
              span.card__author Жак-Луи Давид
              .card__footer
                span.card__prop 261 x 220 см, холст
                span.card__price 3 900 &#8381;
          .swiper-slide.popular__card
            img(srcset="images/popular/hunters-mob.jpg 768w, images/popular/hunters.jpg 1440w" sizes="(max-width: 1439px) 768px, 1440px" src="images/popular/hunters.jpg", alt="Охотники на снегу" class="popular__img-hunters")
            .popular__card-info
              span.card__name Охотники на снегу, 1565 
              span.card__author Питер Брейгель Старший
              .card__footer
                span.card__prop 117 x 162 см, холст
                span.card__price 2 400 &#8381;
        i(class="fas fa-caret-left popular-left")
        i(class="fas fa-caret-right popular-right")
include parts/footer.pug
