include parts/header.pug
body
  .main-wrapper
    header.header
      h1(class="header__haeding") Репродукцио
      p Оффлайн магазин репродукий шедевров мирового искусства
      address.header__contacts Санкт-Петербург, ул. Адмирала Черокова, 18
      a(href="tel:+78129602201" class="header__contacts") +7 812 960-22-01
      a(href="mailto:shop@reproduct.io" class="header__contacts") shop@reproduct.io
    section.main
      .swiper-main
        .swiper-wrapper
          .swiper-slide
            img(src="images/main-slider/venus.webp", alt="Рождение венеры" class="slider-image")
          .swiper-slide
            img(src="images/main-slider/seraphim.webp", alt="Шестикрылый серафим" class="slider-image")
          .swiper-slide
            img(src="images/main-slider/christ.webp", alt="Явление Христа народу" class="slider-image")
        .main-button-prev
        .main-button-next
      .swiper-preview
        .swiper-wrapper
          .swiper-slide
            img(src="images/main-slider/venus.webp", alt="Рождение венеры" class="slider-image")
          .swiper-slide
            img(src="images/main-slider/seraphim.webp", alt="Шестикрылый серафим" class="slider-image")
          .swiper-slide
            img(src="images/main-slider/christ.webp", alt="Явление Христа народу" class="slider-image")
    section.popular
      .swiper-popular
        .swiper-wrapper
          .swiper-slide
            img(src="images/popular/girl.jpeg", alt="Рождение венеры" class="slider-image")
          .swiper-slide
            img(src="images/popular/bonapart.jpg", alt="Шестикрылый серафим" class="slider-image")
          .swiper-slide
            img(src="images/popular/hunters.jpg", alt="Явление Христа народу" class="slider-image")
        .swiper-button-prev
        .swiper-button-next
include parts/footer.pug
