footer.footer
  .footer__container
    .footer__left
      span.footer__heading Написать нам
      span.footer__text Заполните форму справа или отправьте письмо на 
        a(href="mailto:shop@reproduct.io" class="footer__link") shop@reproduct.io
    .footer__right
      form.footer__form

script(src="assets/js/swiper.min.js")
script(src="scripts/bundle.js")