footer.footer
  .footer__container
    .footer__left
      span.footer__heading Написать нам
      span.footer__text Заполните форму справа или отправьте письмо на 
        a(href="mailto:shop@reproduct.io" class="footer__link") shop@reproduct.io
    .footer__right
      form.footer__form
        input(type="text", name="" placeholder="Эл. почта" class="form__input")
        textarea(name="", cols="30", rows="10" placeholder="Сообщение" class="form__input")
        input(type="submit", value="Отправить сообщение" class="submit form__input")
script(src="vendor/js/swiper.min.js")
script(src="scripts/bundle.js")