footer.footer
  .footer__container
    span.footer__heading Написать нам
    span.footer__text Заполните форму справа или отправьте письмо на 
      a(href="mailto:shop@reproduct.io" class="footer__link") shop@reproduct.io

script(src="assets/js/swiper.min.js")
script(src="scripts/bundle.js")